$fondo-primario: #f0a7b1;
$fondo-color-menu: #aaa1c8;



.footer {
    background: linear-gradient($fondo-primario, $fondo-color-menu);
    margin-top: 1rem;
    border-top: 2px solid black;

    &__logo {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 60%;
    }

    &__img {
        height: 3rem;
        width: 3rem;
    }
}