@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


@mixin producto {
    background: linear-gradient(#E08D79, #DBD3AD);
    border: 2px solid black;
    // box-shadow:10px 0 10px rgba(0, 0, 0, .10);
    padding: 0px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 10%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

$fondo-primario: #f0a7b1;
$fondo-color-menu: #aaa1c8;

$men-color-text-prim: #967aa1;
$menu-color-text-sec: #785d83;

$color-text-prim: #a73962;




* {
    margin: 0px;
    padding: auto;
}

body {
    background-color: #E9ECF5;
    width: 100vw;
    height: auto;
}

header {
    background-color: #AA78A6;
    border-bottom: 3px solid black;
    margin-bottom: 0.70rem;
    padding: 0.50rem;

}

.nav {
    font-size: 1.30rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    word-spacing: 0.50rem;

    &__logo {
        width: (63rem / 7);
        height: (63rem / 7);
        border-radius: 60%;
    }

    .lista {

        &__item {
            color: $menu-color-text-sec, !important;
            transition: all 1s;
        }

        &__item:hover {
            transform: scale(1.20);
        }
    }

}

.carrusel {
    &__img {
        width: 340px * 4 / 2;
        height: 180px + 180;

    }
}

.main {
    &__titulo {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        color: rgb(9, 8, 8);
        margin-top: 1rem;
        margin-bottom: 2rem;

    }
}

.producto{
    transition: all 1s;

    &:hover{
        box-shadow: 1rem 0 1rem rgba(0, 0, 0, .6);
        transform: scale(1.10);
    }
}

.producto {

    @include producto;

    &__titulo {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-weight: 1000 - 300;
        color: $color-text-prim;
        font-size: 1.60rem;
    }

    h3 {
        font-size: 1rem;
        text-align: right;
        margin-bottom: 0.50rem;
    }

    &__img {

        width: 3rem * 5;
        height: 3rem * 5;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__btn {
        font-weight: 700;
        margin-bottom: 0.30rem;
        border-radius: 13%;
        background-color: #D3FCD5;

    }

    &__btn:hover{
        background-color: #A7CECB;
    }
}

.logo{
    height: 6rem;
    width: 6rem;
}

.footer {
    background: linear-gradient($fondo-primario, $fondo-color-menu);
    margin-top: 1rem;
    border-top: 2px solid black;
    width: 100vw;

    &__logo {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 60%;
    }

    &__img {
        height: 3rem;
        width: 3rem;
    }
} 
